body{
	b/ackground:#DDD;
	overflow:hidden;
	font:10px Verdana,Tahoma,Arial;
}
#track{
	b/ackground:#DDD;
	top:0;
	text-align:center;
	display:none;	
}
#data{
	b/ackground:#BBB;
	display:block;
}
#cntl{
	margin-left:15px;
	display:none;
}
#wait{
	b/ackground:#DDD;
	vertical-align:middle;
	text-align:center;
	position:absolute;
	top: 40%;
	height:100%;
	width:100%;
}
#waitimg{
	vertical-align:middle;
	text-align:center;
}
.tv_button{
	background:#BBB;
	padding:5px;
	border:0;
	border-radius:5px;
	font:10px Verdana,Tahoma,Arial;
	color:black;
	text-decoration:none;	
}